body{
  background: #E6ECF0;
}

.Home .lander {
  padding: 80px 0;
  text-align: center;
}

.Home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.Home .lander p {
  color: #999;
}

nav.navbar-default {
    background: white;
    border-radius: 0px;
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    z-index: 10;
    border-bottom: 1px solid rgba(0,0,0,0.25);
}

.App .navbar-brand, .App .navbar-brand:hover{
	color: #91D2FA;
	border-bottom: 2px solid #91D2FA;
	font-weight: normal;
	font-size: 13px;
	font-weight: bold;
}

.navbar>.container-fluid .navbar-brand{
	margin-left: 20px;
}


li.nav-item-user-image a{
  padding: 10px;
}

img.navbar-user-image{
  width: 28px;
  height: 28px;
  border-radius: 50%;
}