@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}

body{
  background: #2AA3EF;
}

.Login{
	margin-top: 100px;
	color: white;
}

img.twitter-logo{
	width: 72px;
	height: 72px;
}

button.twitter-login-button, button.twitter-login-button:hover, button.twitter-login-button:active, button.twitter-login-button:focus {
	margin-top: 30px;
    width: initial;
    padding: 8px 20px;
    color: #2AA3EF;
    border-radius: 20px;
    border: none;
    font-weight: bold;
    background: white;
    box-shadow: 2px 2px 10px #5858585c;
}