div.tweet-options{
	margin-top: 12px;
	margin-left: 60px;
}

div.tweet-options-item{
	display: inline-block;
	margin-right: 36px;
	cursor: pointer;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

div.tweet-options-item:hover, div.tweet-options-item.active{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

div.tweet-options-item span{
	font-size: 12px;
	font-weight: bold;
	margin-left: 8px;
}

div.tweet-options-item img{
	width: 18px;
	height: 18px;
}

div.tweet-options-item.retweet img{
	width: 20px;
	height: 20px;	
}

div.tweet-options-item.favorite img{
	width: 16px;
	height: 16px;	
}

div.tweet-options-item.reply{
	color: #2AA3EF;
}

div.tweet-options-item.retweet{
	color: #27BE66;
}

div.tweet-options-item.favorite{
	color: #DE295F;
	opacity: 0.7;
}