div.tweet-center-content{
	display: inline-block;
	margin-left: 10px;
	width: 85%;
}

div.tweet-center-content p{
	margin: 2px;
}

img.tweet-user-image{
	width: 48px;
	height: 48px;
	border-radius: 50%;
	margin: 2px;
}

span.tweet-user-fullname{
	font-size: 14px;
	color:#14171a;
	font-weight: bold;
}

span.tweet-user-username{
	font-size: 14px;
	color: #657786;
}

p.tweet-text{
	font-size: 14px;
	color: #14171a;
}

img.tweet-more-options-icon{
	width: 16px;
	height: 16px;
}	

img.tweet-media{
	margin-top: 10px;
	margin-left: 60px;
	border-radius: 4px;
	width: 90%;
	border: 1px solid #f0f0f0;
}

a.anchor-without-underline, a:active, a:visited{
	text-decoration: none;
}