div.form-group{
	padding: 12px 0px;
	background: #E9F5FD;
}

.form-horizontal .form-group{
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

img.new-tweet-user-image{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin: 2px;
	vertical-align: top;
}

textarea.new-task-input{
	border: 1px solid #C6E7FB;
	color: #000;
	width: 100%;
	height: initial;
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 8px;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 14px;
    box-shadow: none;
    vertical-align: top;
    resize: none;
}

textarea.new-task-input:focus{
	border-color: #A4D9F9;
    box-shadow: 0 0 0 1px #A4D9F9;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #2AA3EF;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #2AA3EF;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #2AA3EF;
}

div.new-tweet-box img, div.new-tweet-box div{
	display: inline-block;
}

button.post-new-tweet, button.post-new-tweet:hover, button.post-new-tweet[disabled]:hover, button.post-new-tweet:active, button.post-new-tweet:focus {
	margin-top: 10px;
    width: initial;
    padding: 6px 20px;
    background-color: #2AA3EF;
    background: #2AA3EF;
    color: white;
    border-radius: 24px;
    border: none;
}

span.tweet-limit{
	line-height: 42px;
	font-size: 12px;
}

span.tweet-limit.reached{
	color: red;
}