/*
Generic css
*/

body{
	background: #E6ECF0;
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline:0px !important;
    -webkit-appearance:none;
}

.extra-padding{
	padding: 16px 12px 24px 12px;
}

/*
 Timeline csss
*/

div.twitter-timeline-content{
	padding-top: 60px;
    background: #E6ECF0;
    padding-bottom: 40px;
}

/*
  Single timeline item css
*/
.list-group-item{
	border-left: none;
	border-right: none;
	border-top: none;
	border-bottom: 2px solid #f0f0f0;
	padding: 20px;
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-size: 16px;
}

/*
Load More tweets
*/

button.load-more-tweets, button.load-more-tweets:hover{
	padding: 8px;
    text-align: center;
    color: #91D2FA;
    background: white;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    border: none;
}

/*
** Reply tweet Dialog css
*/

div.tweet-reply-modal-content-div h4{
	padding: 16px;
	border-bottom: 1px solid #f0f0f0;
	text-align: center;
	margin: 0px;
}

div.tweet-reply-modal-content-div div.tweet-input-box{
	background: #E9F6FD;
	padding-top: 12px;
	padding-bottom: 12px;
}

span.dialog-close-button{
	position: absolute;
	top: 0;
	right: 0;
	margin: 14px;
	cursor: pointer;
}